[MESSAGES CONTROL]
disable=missing-docstring,redefined-builtin,old-style-class,too-few-public-methods,too-many-arguments,no-self-use,fixme,line-too-long,not-context-manager,len-as-condition,chained-comparison,trailing-newlines,no-else-return,inconsistent-return-statements,consider-using-sys-exit,raising-format-tuple,literal-comparison,logging-not-lazy,no-member

good-names=id,s3,of,e,_
function-rgx=[a-z_][a-z0-9_]{2,60}$
method-rgx=[a-z_][a-z0-9_]{2,60}$
class-attribute-rgx=[A-Z0-9_]{2,60}$
max-module-lines=1500
