# file generated 2022-12-12 - see update-dependencies.sh
astroid==2.3.3
attrs==22.1.0
backoff==1.11.1
beautifulsoup4==4.11.0
boto3==1.25.3
botocore==1.28.3
certifi==2022.12.7
charset-normalizer==2.1.1
contextlib2==21.6.0
coverage==5.5
dill==0.3.6
econtools @ git+https://github.com/elifesciences/econ-tools.git@267719728af863ebe947de98b50e77e9f5f00de9
exceptiongroup==1.0.0
execnet==1.9.0
idna==3.4
iniconfig==1.1.1
isort==4.3.21
Jinja2==2.11.3
jmespath==1.0.1
lazy-object-proxy==1.4.3
lxml==4.9.1
MarkupSafe==2.0.1
mccabe==0.6.1
MechanicalSoup==0.12.0
packaging==21.3
platformdirs==2.6.0
pluggy==1.0.0
polling==0.3.0
pollute==1.0.2
pylint==2.4.4
pyparsing==3.0.9
pytest==7.2.0
pytest-xdist==3.1.0
python-dateutil==2.8.2
python-docx==0.8.6
requests==2.28.1
requests-futures==0.9.9
s3transfer==0.6.0
selenium==3.141.0
six==1.16.0
soupsieve==2.3.2.post1
spectrumprivate @ git+ssh://git@github.com/elifesciences/elife-spectrum-private.git@91371987bee96747b9cef6dfb7f63d0b04d4a048
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
urllib3==1.26.12
wrapt==1.11.2
