apipkg==1.4
appdirs==1.4.3
astroid==1.4.5
backoff==1.4.3
beautifulsoup4==4.5.1
boto==2.34.0
boto3==1.4.2
botocore==1.4.81
colorama==0.3.7
contextlib2==0.5.4
coverage==4.2
docutils==0.12
git+git://github.com/elifesciences/econ-tools.git@master#egg=econtools
execnet==1.4.1
funcsigs==1.0.2
Jinja2==2.8.1
jmespath==0.9.0
lazy-object-proxy==1.2.2
lxml==4.1.1
MarkupSafe==0.23
MechanicalSoup==0.6.0
mock==2.0.0
packaging==16.8
pbr==1.10.0
polling==0.3.0
pollute==1.0.2
py==1.4.31
pylint==1.5.5
pyparsing==2.2.0
pytest==2.9.1
pytest-xdist==1.14
python-dateutil==2.6.0
python-docx==0.8.6
requests==2.20.0
requests-futures==0.9.7
s3transfer==0.1.9
selenium==3.14.1
six==1.10.0
git+ssh://git@github.com/elifesciences/elife-spectrum-private.git@91371987bee96747b9cef6dfb7f63d0b04d4a048#egg=spectrumprivate
urllib3==1.23
wrapt==1.10.8
